NODE_ENV=
# NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_URL=


NEXT_PUBLIC_BACKEND_PROTOCOL=
# NEXT_PUBLIC_API_ERP_URL=$NEXT_PUBLIC_BACKEND_PROTOCOL://erp.turbodeliveryapp.com
NEXT_PUBLIC_API_ERP_URL=
# NEXT_PUBLIC_API_RESTO_URL=$NEXT_PUBLIC_BACKEND_PROTOCOL://resto.turbodeliveryapp.com
NEXT_PUBLIC_API_RESTO_URL=
# NEXT_PUBLIC_API_CLIENT_URL=$NEXT_PUBLIC_BACKEND_PROTOCOL://customer.turbodeliveryapp.com
NEXT_PUBLIC_API_CLIENT_URL=
# NEXT_PUBLIC_API_DELIVERY_URL=$NEXT_PUBLIC_BACKEND_PROTOCOL://delivery.turbodeliveryapp.com
NEXT_PUBLIC_API_DELIVERY_URL=
# NEXT_PUBLIC_API_BACKEND_URL=$NEXT_PUBLIC_BACKEND_PROTOCOL://backend.turbodeliveryapp.com
NEXT_PUBLIC_API_BACKEND_URL=

AUTH_SECRET=
AUTH_TRUST_HOST=

NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
NEXT_PUBLIC_SOCKET_HOST=
